@keyframes mostarArriba{
        
    0%{       
        transform: translateY(80px);           
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes mostarDerecha{

    // 0%{
        
    //     transform: rotate(360deg);;
    // }
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.imgLogo{
    &:hover{
        animation: mostarDerecha 1s linear infinite ;
    }
}