$colorNavPrimario: #0078AA;
$colorNavSecundario: #73C8F3;
$colorBotones: #F0DD3A;
$colorFondo: #F6F6F6;
$Shadow: 0 4px 4px rgba(0, 0, 0,0.3);

$fontMontserrat: 'Montserrat', sans-serif;
$fontPoppins: 'Poppins', sans-serif;

@mixin botones($ancho,$altura,$color,$hover,$colorBase,$colorHover) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $colorBase;
    width: $ancho;
    height: $altura;
    background-color: $color;
    border-radius: 2.5rem;
    font-family: $fontMontserrat;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transform: .3s ease all;
    position: relative;
    overflow: hidden;
    span{
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }
    &::after{
        content: "";
        width: calc($ancho + ($ancho / 2));
        height: $altura;
        position: absolute;
        z-index: 1;
        top:0;
        left: calc(-150% - $altura);      
        border-bottom: $altura solid $hover;
        border-right: calc($altura / 2) solid transparent;
        transition: .5s ease-in-out all;
    }
    &:hover{
        box-shadow: $Shadow;
        color: $colorHover;
        transition: .5s;
        &::after{
        left: 0;}
    }
}

 .navPrimario{
    background-color: #0078aa;
    img{
        width: 150px;
        position: fixed;  
        top: 5px;     
    }
 }

.formBuscar{
    .btnBuscar{
        color: white;
    }
    .txtBuscar{
        display: none;
        font-family: $fontMontserrat;
        font-weight: 400;
    }
    &:hover{
        .btnBuscar{
            color: #F0DD3A;
        }   
     }
}
.nav-link{
   color: white;
   font-family: $fontPoppins;
   font-weight: 700; 
   &:hover{
    color: #F0DD3A;
   } 
}
.contCarrito{
    position: absolute;
    border-radius: 15px;
    color: black;
    display: inline-block;
    word-break: break-word;
    line-height: 1;
    background-color: #FAA077;
    z-index: 10 !important;
    white-space: nowrap !important;  
    font-family: $fontMontserrat;
    font-size: 12px;
    font-weight: bold;
    min-width: 17px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}
.navInicioSesion{
    font-family: $fontMontserrat;
    font-weight: 400;
    margin-right: 20px;
}

.dropdown-item{
    font-family: $fontMontserrat;
    font-weight: 400;
    &:hover{
        background-color: #F0DD3A;
    }
}
.linksCategoriasScroll{
    display: none;
    .linksCategorias{
        &:hover{
            border-bottom: 3px solid #73C8F3; 
        }
    }
    
}
.navLinksCTG{
    display: none;
    .linksCategorias{
        &:hover{
            border-bottom: 3px solid #73C8F3; 
        }
    }
    
}
.linksCategorias{
    color: white;
    font-family: $fontPoppins;
        font-weight: 700;
    &:hover{
        color: #F0DD3A;
        border-bottom: 3px solid #0078aa;         
        }          
    }
    

.footerPlantilla{
    background-color: #0078aa;
    bottom: 0;
    color: white;
    margin-top: 30px; //separación con el filtro
    float: left; //para que respete el espacio del filtro
    h4{      
        font-family: $fontPoppins;
        font-weight: 700;
    }
    .rowFooter{
        padding: 30px;
    }
    form{
        display: block;       
        color: white;
        #txtCorreo{
            font-family: $fontMontserrat;
            padding: 5px;
            margin: 5px;
            border: none;
            border-radius: 35px;
            width: 100%;
            &:hover{
                box-shadow: $Shadow;
            }
        }
        div{
            
            .btnEnviar{
                left: 75%;
                @include botones(80px,1.9375rem, #F0DD3A, #73C8F3, black, white);  

            }
        }
    }     
    a{
    text-decoration: none;
    color: white;
    display: block;
    font-family: $fontMontserrat;
    font-weight: 500;
     &:hover{
    color: #F0DD3A;
       }
     }
     .fotRedes{
        #facebook{
        display: inline;
        &:hover{
            color: #3b5998;
        }
        }
        #instagram{
        display: inline;
        &:hover{
            color: #3b1863;
        }
        }
        #twitter{
        display: inline;
        &:hover{
            color: #00acee;
        }
        }
        #youtube{
        display: inline;
        &:hover{
            color: #c4302b ;
        }
        }
     }

}

@media (max-width: 992px){ 
    .navPrimario{
        img{
            width: 100px;
            position: fixed;  
            top: 5px;     
        }
     }
.nav-link{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
  }
  
}
@media (max-width: 492px) {
    .navPrimario{
        img{
            width: 50px;
            position: fixed;  
            top: 5px;     
        }
     }
    .linksCategorias{
        color: white;       
    }
}

