$colorPrimario: #0078AA;
$colorPrimarioVariacion: #002230;
$colorFondoPF: #F6F6F6;

$fontMontserrat: 'Montserrat', sans-serif;
$fontPoppins: 'Poppins', sans-serif;

//*Etiquetas
.cuerpo {
  background-color: $colorFondoPF;
}

//fuentes
.título            {color:$colorPrimario; font-family: $fontPoppins; text-align:center; font-weight: 700; font-size: 40px;}
.clasificación     {color:$colorPrimario; font-family: $fontMontserrat; font-weight: 700; font-size: 30px;}
.pregunta          {color:$colorPrimario; font-family: $fontMontserrat; font-weight: 600; font-size: 24px;}
.respuesta         {color:$colorPrimarioVariacion; font-family: $fontMontserrat; font-weight: 500; font-size: 18px;}
.listas            {color:$colorPrimarioVariacion; font-family: $fontMontserrat; font-weight: 500; font-size: 18px; font-style:italic}


//imagen de ayuda chida :D 
.help{
    max-height: 450px;
    min-height: 450px;
    img{
        position: relative;
        overflow: hidden;
        max-height: 500px;
        min-height: 500px;
    }
}

/* Margen de 20px para responsividad */
.accordion-item{
    margin-left: 20px;
    margin-right: 20px;
  } 