@use "mixinProductos";
@use "navStyles";
@use 'menufiltroBuscar';

$Shadow: 0 4px 4px rgba(0, 0, 0,0.3);

.bookContainer{   
  .card{            
      margin: 0 1em;            
      border: none;
      border-radius: 10px;
      max-width: 300px;
      min-width: 300px;
      margin-bottom: 50px;
      box-shadow: $Shadow;
      transition: .2s;
      &:hover{
            transition: .2s;
            transform: scale(1.1);
         }
      p{
         margin-top: 0.625rem;
      }
      .cardPrecio{
         font-weight: bold;
      }
      img {
         max-width: 100%;
         min-height: 222px;
         max-height: 222px;
     }
      .btnLibros{ 
         text-decoration: none;
         @include navStyles.botones(160px,2.1875rem,#F0DD3A,#00acee,black,white);                
        }
      }  
}

@media (max-width: 1220px) {
   .bookContainer{
      margin-left: 120px;
      margin-right: 0px;
   }
}

@media (max-width: 920px) {
   .bookContainer{
      margin-left: 120px;
      margin-right: 0px;
   }
}

@media (max-width: 500px) {
   .bookContainer{
      margin-left: 100px;
      margin-right: 0px;
   }
}

@media (max-width: 480px) {
   .bookContainer{
      margin-left: 50px;
      margin-right: 0px;
   }
}