//! ICONO TRASH <i type="button" class="btnTrash fa-solid fa-trash-can">

//?Variables
$fontMontserrat: "Montserrat", sans-serif;
$fontPoppins: "Poppins", sans-serif;
$colorrojo: #d03232;
$colorAzul: #0078aa;
$colorCeleste: #73c8f3;
$colorBotones: #f0dd3a;
$colorfondo: #f6f6f6;
$colorblanco: #fcfdff;
$coloratras: rgba(0, 120, 170, 0.7);
$bordeAzul: 1px solid rgba(41, 99, 125, 0.3);
$sombra: 0px 4px 4px rgba(14, 11, 11, 0.314);

//*Etiquetas
body {
  background-color: $colorfondo;
}

// Estilo titulo de la página
h2{
  font-family: $fontPoppins;
  font-size: 16px;
  width: fit-content;
  font-weight: 700;
  font-size: 26px;
 color: $colorAzul;
}

// Estilo input:number cantidad
input[type="number"] {
  width: 3rem;
  text-align: center;
  border: none;
  background-color: #fcfdff00;
}
// ?______________________________________________

//*Funciones

//Estilo btn Basura
@mixin btnBasura($ancho) {
  font-size: $ancho;
  color: $colorrojo;
  padding: 0.2rem;
  // padding-right: 5px;
  // padding-left: 5px;
  font-family: $fontPoppins;
  &:hover {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: $colorrojo;
  }
}

// Estilo boton hacia atras
@mixin btnAtras($ancho, $altura) {
  font-size: $ancho;
  font-family: $fontPoppins;
  font-style: bold;
  background: $coloratras;
  box-shadow: $sombra;
  color: $colorblanco;
  border-radius: 40px;
  &:hover {
    color: white;
    background-color: $colorAzul;
  }
}
// Estilo boton hacia adelante
@mixin btnAdelante($ancho, $altura) {
  text-align: center;
  font-size: $ancho;
  font-family: $fontPoppins;
  font-style: bold;
  background: $colorBotones;
  box-shadow: $sombra;
  border-radius: 40px;
  &:hover {
    border-color: $colorblanco;
    background-color: #dccb35;
  }
}

// Posicion
@mixin posicion($alineacion) {
  text-align: $alineacion;
}

// Estilo precio final
@mixin precios ($size, $align,  $fuente){
  font-family: $fuente;
  font-size: $size;
  font-style: bold;
  text-align: $align;
}

@mixin marcosfloat ($colorborde,$colorbg,$box-shadow){
  background-color: $colorbg;
  border: $colorborde;
  border-radius: 10px;
  box-shadow: $box-shadow;
  
}
// ?___________________________________________________-

// * Clases

// Estilo card item en donde se coloca los items añadidos al carrito

.cardItem {
  margin-left: 30px;
  margin-right: 30px;
  border: #0078aa;
  background-color:$colorblanco;
  margin-bottom: 0;
  border-radius: 5px;
box-shadow: $sombra;
  font-size: 12px;
  text-align: center;
  font-family: $fontMontserrat;
  img {
    max-width: 35%;
    height: auto;
  }
}

.eliminarItem{
  font-family: $fontMontserrat;
}


// ?_________________________________-

