$colorNavPrimario: #0078AA;
$colorNavSecundario: #73C8F3;
$colorBotones: #F0DD3A;
$colorfondo: #F6F6F6;
$fontMontserrat: 'Montserrat', sans-serif;
$fontPoppins: 'Poppins', sans-serif;

@mixin botones($ancho) {
    color: red;
    width: $ancho;
    background-color: $colorBotones;
    border-radius: 2.5rem;
    font-family: $fontMontserrat;
}





