@use "variablesCarritodeCompras";
@use "navStyles";

// *Botones
// Estilos boton basura
.btnTrash {
  @include variablesCarritodeCompras.btnBasura(0.7rem);
}
.btnTrashIcon {
  @include variablesCarritodeCompras.btnBasura(0.6rem);
}
// Btn seguir viendo y comprar
.btnAtras {
  @include navStyles.botones(8rem,2.2rem, variablesCarritodeCompras.$coloratras, variablesCarritodeCompras.$colorBotones,white, black); 
  font-size: 13px;
}
.btnAdelante {
  @include navStyles.botones(8rem,2.2rem, #F0DD3A, variablesCarritodeCompras.$colorAzul, black,white); 
  font-size: 14px;
}
.btnAdelante2 {
  @include navStyles.botones(8rem,2.2rem, variablesCarritodeCompras.$colorCeleste, variablesCarritodeCompras.$colorAzul, black,white); 
  font-size: 14px;
}
.btnRegresar {
  @include navStyles.botones(9rem,2.2rem, #F0DD3A, variablesCarritodeCompras.$colorAzul, black,white); 
  font-size: 14px;
}
.precioTotal{
  @include variablesCarritodeCompras.precios(1.2rem,right,variablesCarritodeCompras.$fontPoppins);
 
}
.subprecios {
  @include variablesCarritodeCompras.precios(14px,"right",variablesCarritodeCompras.$fontMontserrat);
  font-weight: 500;
  
}
// *______________________________________

//? Posiciones de alineacion de texto
.posicionCenter {
  @include variablesCarritodeCompras.posicion(center);
}
.posicionLeft {
  @include variablesCarritodeCompras.posicion(left);
}
.posicionRight {
  @include variablesCarritodeCompras.posicion(right);
}

.Articulos{
  font-family: variablesCarritodeCompras.$fontPoppins;
  font-size: 22px;
  color: variablesCarritodeCompras.$colorAzul;
  margin-top: 42px;
  padding-bottom: 5px;

}

#Articulos{
  font-size: 10px;
 .card{
img{
  max-width: 100%;
  min-height: 122px;
  max-height: 150px;
}
  
  margin: 0 1em;            
  border: none;
  border-radius: 10px;
  max-width: 300px;
  min-width: 100px;
  margin-bottom: 50px;
 }
}
// *_______________________________________________________________

