@use "variablesCarritodeCompras";
@use "navStyles";

.formulario {
  background-color: variablesCarritodeCompras.$colorblanco;

  // border-left: 1px solid variablesCarritodeCompras.$colorCeleste;
  // border-bott: 1px solid variablesCarritodeCompras.$colorCeleste;
  border: 1px solid rgba(197, 195, 195, 0.411);
  //   box-shadow: variablesCarritodeCompras.$sombra;
  border-top: none;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
// * ID
.form-group {
  font-size: 14px;
  font-family: variablesCarritodeCompras.$fontMontserrat;

}

// !Estilos pestañas
.tab {
  overflow: hidden;

  button {
        font-family: variablesCarritodeCompras.$fontPoppins;
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;}
}

/* Create an active/current tablink class */
.active {
  background-color: variablesCarritodeCompras.$colorblanco;
  border: 1px solid rgba(197, 195, 195, 0.411);;
  box-shadow: variablesCarritodeCompras.$sombra;
  border-bottom: none;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  span {
    border-bottom: 2px solid variablesCarritodeCompras.$colorBotones;
  }
}

//? Columnas

