@use "variablesCarritodeCompras";
@use "navStyles";


//Funciones
.form-group {
  @include variablesCarritodeCompras.precios(14px,"",variablesCarritodeCompras.$fontMontserrat);
  
}
.subprecios {
  @include variablesCarritodeCompras.precios(13px,"right",variablesCarritodeCompras.$fontPoppins);
  
}
.subtitulo {
  @include variablesCarritodeCompras.precios(18px,"",variablesCarritodeCompras.$fontPoppins);
  
}

.divResumen{
  @include  variablesCarritodeCompras.marcosfloat(1px solid variablesCarritodeCompras.$colorAzul,variablesCarritodeCompras.$colorfondo,variablesCarritodeCompras.$sombra);
height: fit-content;
}


//?_____________________________________________________________________---

// *Clases
.formulario {
  font-family: variablesCarritodeCompras.$fontMontserrat;
  background-color: variablesCarritodeCompras.$colorblanco;
  border: 1px solid rgba(197, 195, 195, 0.411);
  border-top: none;
  font-size: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}


// !Estilos pestañas
.tab {
  overflow: hidden;
  button {
    font-family: variablesCarritodeCompras.$fontPoppins;
    background-color: none;
    border-top-left-radius: 13px;
  border-top-right-radius: 13px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
}

.active {
  background-color: variablesCarritodeCompras.$colorblanco;
  border: 1px solid rgba(197, 195, 195, 0.411);;
  box-shadow: variablesCarritodeCompras.$sombra;
  border-bottom: none;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  span {
    border-bottom: 2px solid variablesCarritodeCompras.$colorBotones;
  }
}

//? Columnas
.cuadroCompra{
  max-height: 20rem;
  overflow-x: hidden;
  overflow-y:scroll;
}

a{
  font-size: 12px;
  color: variablesCarritodeCompras.$colorAzul;
  text-decoration: none;
}

