.btnEnviar{
    color: rgb(0, 0, 0);
    width: 6rem;
    background-color: #F0DD3A;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-left: 10px;
  }
  
.btnEnviar:hover {
    background-color: #0078AA;
    color: white;
    font-family:'Montserrat',sans-serif;
  }

