.títuloCon    {font-family:'Poppins', sans-serif; text-align:center; color:#0078AA; font-weight:600; font-size: 40px;}
.infoCon      {font-family:'Montserrat',sans-serif; color:#002230; font-weight:400; font-size: 18px;}

.container-sm    {background-color: white;}

#check {
    margin: top left;
}

#check {
    margin: -100px 20px;
}


.imgServicio{
    border-radius: 2.5rem;
    margin: 0px -50px;

    min-width: 80%;
    max-width: 80%;
    min-height: 90%;
    max-height: 90%;
}
