.títuloCuen     {font-family:'Poppins', sans-serif; color:#0078AA; font-weight:400; font-size: 30px;}
.nombreCuen     {font-family:'Montserrat',sans-serif; color:#0078AA; font-weight:400; font-size: 24px;}
.infoCuen       {font-family:'Montserrat',sans-serif; color:#002230; font-weight:400; font-size: 18px;}