body{
  background-color: #F6F6F6;
}

.h1titulo
{
  text-align: center;
}

.cuerpo         {background-color: white;}

/* Estilos de fuentes para diferentes secciones */
.título         {font-family:'Poppins', sans-serif; text-align:center; color:#0078AA; font-weight:600; font-size: 30px;}
.clasificación  {font-family:'Poppins', sans-serif; color:#0078AA; font-weight:400; font-size: 20px; text-align:center;}
.pregunta       {font-family:'Montserrat',sans-serif; color:#0078AA; font-weight:400; font-size: 18px; }
.respuesta      {font-family:'Montserrat',sans-serif; color:#002230; font-weight:400; font-size: 16px; text-align:justify;}
.listas         {font-family:'Montserrat',sans-serif; color:#002230; font-weight:400; font-size: 14px; font-style:italic}

/* Margen de 20px para responsividad */
.accordion-item{
  margin-left: 20px;
  margin-right: 20px;
} 



