.navPrimario {
  background-color: #0078aa;
}
.navPrimario img {
  width: 150px;
  position: fixed;
  top: 5px;
}

.formBuscar .btnBuscar {
  color: white;
}
.formBuscar .txtBuscar {
  display: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.formBuscar:hover .btnBuscar {
  color: #F0DD3A;
}

.nav-link {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.nav-link:hover {
  color: #F0DD3A;
}

.contCarrito {
  position: absolute;
  border-radius: 15px;
  color: black;
  display: inline-block;
  word-break: break-word;
  line-height: 1;
  background-color: #FAA077;
  z-index: 10 !important;
  white-space: nowrap !important;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  min-width: 17px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.navInicioSesion {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-right: 20px;
}

.dropdown-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.dropdown-item:hover {
  background-color: #F0DD3A;
}

.linksCategoriasScroll {
  display: none;
}
.linksCategoriasScroll .linksCategorias:hover {
  border-bottom: 3px solid #73C8F3;
}

.navLinksCTG {
  display: none;
}
.navLinksCTG .linksCategorias:hover {
  border-bottom: 3px solid #73C8F3;
}

.linksCategorias {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.linksCategorias:hover {
  color: #F0DD3A;
  border-bottom: 3px solid #0078aa;
}

.footerPlantilla {
  background-color: #0078aa;
  bottom: 0;
  color: white;
  margin-top: 30px;
  float: left;
}
.footerPlantilla h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.footerPlantilla .rowFooter {
  padding: 30px;
}
.footerPlantilla form {
  display: block;
  color: white;
}
.footerPlantilla form #txtCorreo {
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 35px;
  width: 100%;
}
.footerPlantilla form #txtCorreo:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.footerPlantilla form div .btnEnviar {
  left: 75%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 80px;
  height: 1.9375rem;
  background-color: #F0DD3A;
  border-radius: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transform: 0.3s ease all;
  position: relative;
  overflow: hidden;
}
.footerPlantilla form div .btnEnviar span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}
.footerPlantilla form div .btnEnviar::after {
  content: "";
  width: 120px;
  height: 1.9375rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(-150% - 1.9375rem);
  border-bottom: 1.9375rem solid #73C8F3;
  border-right: 0.96875rem solid transparent;
  transition: 0.5s ease-in-out all;
}
.footerPlantilla form div .btnEnviar:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  color: white;
  transition: 0.5s;
}
.footerPlantilla form div .btnEnviar:hover::after {
  left: 0;
}
.footerPlantilla a {
  text-decoration: none;
  color: white;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.footerPlantilla a:hover {
  color: #F0DD3A;
}
.footerPlantilla .fotRedes #facebook {
  display: inline;
}
.footerPlantilla .fotRedes #facebook:hover {
  color: #3b5998;
}
.footerPlantilla .fotRedes #instagram {
  display: inline;
}
.footerPlantilla .fotRedes #instagram:hover {
  color: #3b1863;
}
.footerPlantilla .fotRedes #twitter {
  display: inline;
}
.footerPlantilla .fotRedes #twitter:hover {
  color: #00acee;
}
.footerPlantilla .fotRedes #youtube {
  display: inline;
}
.footerPlantilla .fotRedes #youtube:hover {
  color: #c4302b;
}

@media (max-width: 992px) {
  .navPrimario img {
    width: 100px;
    position: fixed;
    top: 5px;
  }
  .nav-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 492px) {
  .navPrimario img {
    width: 50px;
    position: fixed;
    top: 5px;
  }
  .linksCategorias {
    color: white;
  }
}
.caruselImgInner {
  max-height: 400px;
  min-height: 400px;
}
.caruselImgInner img {
  position: relative;
  overflow: hidden;
  max-height: 400px;
  min-height: 400px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #0078AA;
  text-align: center;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.carouselCategorias .carouselBtnCategorias {
  margin-bottom: 0px;
}
.carouselCategorias .carouselBtnCategorias button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0078AA;
}
.carouselCategorias .carouselInnerCategorias {
  padding: 3em;
}
.carouselCategorias .carouselInnerCategorias .cardWrapperCategorias {
  display: flex;
  justify-content: center;
}
.carouselCategorias .carouselInnerCategorias .cardWrapperCategorias .cardCategoria {
  margin: 0 1em;
  border: none;
  border-radius: 10px;
  min-height: 300px;
  max-height: 300px;
  max-width: 400px;
  min-width: 400px;
}
.carouselCategorias .carouselInnerCategorias .cardWrapperCategorias .cardCategoria img {
  border-radius: 10px;
  height: 100%;
}
.carouselCategorias .carouselInnerCategorias .cardWrapperCategorias .cardCategoria img:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.carouselCategorias .carouselInnerCategorias .cardWrapperCategorias .cardCategoria .btnCategorias {
  position: absolute;
  top: 40%;
  left: 20%;
  right: 20%;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #0078AA;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border: none;
  cursor: pointer;
  height: 30px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}
.carouselCategorias .carouselInnerCategorias .cardWrapperCategorias .cardCategoria .btnCategorias:hover {
  background: rgb(255, 255, 255);
}
.carouselCategorias .carousel-control-prev,
.carouselCategorias .carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carouselUltimo .carouselBtnUltimo {
  margin-bottom: 0px;
}
.carouselUltimo .carouselBtnUltimo button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0078AA;
}
.carouselUltimo .carouselInnerUltimo {
  padding: 3em;
}
.carouselUltimo .carouselInnerUltimo .cardWrapperUltimo {
  display: flex;
  justify-content: center;
}
.carouselUltimo .carouselInnerUltimo .cardWrapperUltimo .cardUltimo {
  margin: 0 3em;
  border: none;
  border-radius: 10px;
  max-width: 300px;
  min-width: 300px;
}
.carouselUltimo .carouselInnerUltimo .cardWrapperUltimo .cardUltimo:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  transition: 0.6s;
}
.carouselUltimo .carouselInnerUltimo .cardWrapperUltimo .cardUltimo p {
  margin-top: 0.625rem;
}
.carouselUltimo .carouselInnerUltimo .cardWrapperUltimo .cardUltimo img {
  max-width: 100%;
  min-height: 222px;
  max-height: 222px;
}
.carouselUltimo .carouselInnerUltimo .cardWrapperUltimo .cardUltimo .btnUltimo {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 160px;
  height: 2.1875rem;
  background-color: #F0DD3A;
  border-radius: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transform: 0.3s ease all;
  position: relative;
  overflow: hidden;
}
.carouselUltimo .carouselInnerUltimo .cardWrapperUltimo .cardUltimo .btnUltimo span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}
.carouselUltimo .carouselInnerUltimo .cardWrapperUltimo .cardUltimo .btnUltimo::after {
  content: "";
  width: 240px;
  height: 2.1875rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(-150% - 2.1875rem);
  border-bottom: 2.1875rem solid #00acee;
  border-right: 1.09375rem solid transparent;
  transition: 0.5s ease-in-out all;
}
.carouselUltimo .carouselInnerUltimo .cardWrapperUltimo .cardUltimo .btnUltimo:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  color: white;
  transition: 0.5s;
}
.carouselUltimo .carouselInnerUltimo .cardWrapperUltimo .cardUltimo .btnUltimo:hover::after {
  left: 0;
}
.carouselUltimo .carousel-control-prev,
.carouselUltimo .carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.diferenciadores {
  background-color: #D9D9D9;
}
.diferenciadores .col {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .cardCategoria img {
    height: 11em;
  }
  .cardUltimo img {
    height: 11em;
  }
}/*# sourceMappingURL=stylesPopCollector.css.map */